body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  background-color: whitesmoke
  color: #333

.wrapper

  .widget
    width: 50%
    margin: auto

    div
      display: inline-block
      vertical-align: middle

    .nav-btn
      width: 8%
    .container
      width: 80%

.card
  background-color: white
  padding: 2%

  .col
    display: inline-block

  .narrow
    width: 20%

  .wide
    width: 77%
    margin-left: 1%

    div
      margin: 2px 0

  .img-rating
    width: 100px

  .img-circle
    border-radius: 500px