$padding: 12px

body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  background-color: whitesmoke

*
  box-sizing: border-box

.small
  color: grey
  font-weight: normal
  font-style: normal
  font-size: small

a
  color: inherit
  text-decoration: none

.panel
  background-color: white
  margin-top: 1px
  padding: $padding

.star-red
  background-color: #e22027!important
.star-orange
  background-color: #f47324!important
.star-yellow
  background-color: #f8cc18!important
.star-green
  background-color: #73b143!important
.star-darkgreen
  background-color: #007f4e!important

.widget-wrapper
  color: #333
  line-height: 1.3em
  max-width: 500px
  margin: auto

.summery
  @extend .panel
  text-align: center

  .tp-widget-logo img
    vertical-align: text-top

  .star-rating
    display: inline-block
    margin-top: 5px

    .star
      float: left
      border-radius: 2px
      margin-right: 2px
      padding: 3px 4px 1px
      background-color: #c8c8c8
      transition: background-color .3s

  .footer
    margin-top: 10px

.review
  @extend .panel

  .card
    .col-1
      width: 75px
      float: left

    .col-2
      max-width: 80%
      float: left
      margin-left: $padding

      div
        margin: 5px 0

    &:after // clearfix
      content: ""
      clear: both
      display: block

    .review-title
      font-style: italic
      color: dimgray
      font-weight: bold

    .review-body
      font-style: italic
      font-size: 80%
      line-height: 1.3em
      overflow: hidden
      max-height: 3.75em // display ellipsis after 3 lines
      position: relative

      // multiline ellipsis trick - not perfect, but passable:
      &:before
        background: #fff
        bottom: 0
        position: absolute
        right: 0
        content: '\2026'
      &:after
        content: ''
        background: #fff
        position: absolute
        height: 50px
        width: 100%
        z-index: 1

    .link
      float: right

    .img-rating
      width: 100px

    .img-circle
      border-radius: 500px

.nav
  @extend .panel
  padding: 5px 0 0 0
  text-align: center