<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trustpilot widget</title>
    <link rel="stylesheet" href="css/core.css">
    <script src="reviews.js"></script>
</head>
<body>
    <div class="widget-wrapper">
        <div class="summery"></div>
        <div class="review">
            <div class="review"></div>
        </div>
        <div class="nav">
            <a class="prev" href="#"><img src="img/left-arrow.png"></a>
            <a class="next" href="#"><img src="img/right-arrow.png"></a>
        </div>
    </div>

    <!-- Templates: -->
    <script id="review-card-template" type="text/template">
        <div class="col-1">
            <img alt="" class="img-circle" height="auto" src="img/<%= profileImg %>">
        </div>
        <div class="col-2">
            <div>
                <img alt="" class="img-rating" height="auto" src="img/<%= ratingImg %>" >
            </div>
            <div class="review-title">
                "<%= reviewTitle %>" <span class="profile-name small">- <%= fullName %><%= (location.length ? ", " + location : "") %></span>
            </div>
            <div class="review-body">
                "<%= reviewBody %>"
            </div>
            <a class="link small" href="<%= url %>" target="_blank">Read more</a>
        </div>
    </script>

    <script id="summery-template" type="text/template">
        <a href="https://www.trustpilot.com/review/www.trustpilot.com" target="_blank">
            <div>
                <%= average %> stars on <span class="tp-widget-logo"><img alt="Trustpilot" title="Trustpilot" src="img/trustpilot-logo-light-bg-120x18.png"></span>
            </div>
            <div class="star-rating">
                <div class="star"><img src="img/sprite_star.png" width="22" height="22"></div>
                <div class="star"><img src="img/sprite_star.png" width="22" height="22"></div>
                <div class="star"><img src="img/sprite_star.png" width="22" height="22"></div>
                <div class="star"><img src="img/sprite_star.png" width="22" height="22"></div>
                <div class="star"><img src="img/sprite_star.png" width="22" height="22"></div>
            </div>
            <div>
                Based on <%= base %> reviews.
            </div>
            <div class="footer small">
                See some of the reviews here.
            </div>
        </a>
    </script>
    <!-- Templates END -->

    <!-- 3rd-Party Libraries (Order matters) -->
    <script type="text/javascript" src="libs/underscore-min.js"></script>
    <script type="text/javascript" src="libs/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="libs/backbone-min.js"></script>

    <!-- Widget: -->
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>